body {
  background-color: rgb(240, 240, 240);
}

#root {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
}

.list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.pagination {
  display: flex;
  gap: 8px;
  margin-top: 20px;
}

.page {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  background-color: #fff;
  border-radius: 5px;
  cursor: pointer;
}

.page[data-current="true"] {
  color: #fff;
  background-color: #268cdf;
}